<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <h5 class="footer-title">Terms of use</h5>
        <p class="footer-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non quam eu mauris elementum laoreet id ut dui. Cras massa diam, varius nec turpis quis, gravida vulputate enim. Cras sodales ante erat, sed ullamcorper est molestie quis. Sed sollicitudin, neque ut pretium pharetra, dolor nulla volutpat lorem, eget condimentum tellus elit sed metus. Pellentesque ultrices nec tortor eu ornare. Maecenas est lorem, vestibulum ut fermentum quis, tincidunt vitae urna. Phasellus risus odio, cursus quis tincidunt nec, feugiat sit amet orci. Aliquam ac rutrum quam, eget bibendum lacus. Quisque massa orci, imperdiet ut orci condimentum, suscipit hendrerit mauris.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h5 class="footer-title">Contact</h5>
        <p class="footer-body">
          Phone: 000 (0) 11 22 33 44<br>
          Fax: 000 (0) 11 22 33 45<br>
          Email: contact@petcommerce.com<br><br>
          Schedule: Monday - Friday 09:00 to 17:00
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p class="footer-copy">Copyright {{fa-icon 'copyright'}} 2017 PetCommerce<sup>{{fa-icon 'trademark'}}</sup> All Rights Reserved.</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <ul class="footer-nav">
          <a><li>{{fa-icon 'pinterest-p'}}</li></a>
          <a><li>{{fa-icon 'vimeo'}}</li></a>
          <a><li>{{fa-icon 'youtube'}}</li></a>
          <a><li>{{fa-icon 'facebook'}}</li></a>
          <a><li>{{fa-icon 'twitter'}}</li></a>
          <a><li>{{fa-icon 'linkedin'}}</li></a>
          {{#link-to 'store'}}<li>Store</li>{{/link-to}}
          {{#link-to 'index'}}<li>Home</li>{{/link-to}}
        </ul>
      </div>
    </div>
  </div>
</footer>
